* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
}

.grids {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}

.grid-3,
.grid-4 {
  margin: 10px 0;
  font-size: 1.5rem;
  padding: 20px 30px;
}

.box {
  width: 100px;
  height: 80px;
  border-radius: 10px;
  background-color: white;
  color: rgb(43, 42, 42);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

#img-cont {
  width: 80%;
  margin: 0 auto;
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 10px;
  grid-template-columns: repeat(6, 1fr);
  padding: 0;
}

.small-img {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
}
.small-img img {
  width: 100%;
  height: auto;
  border-radius: 15px;
}
.small-img:hover {
  cursor: pointer;
  box-shadow: 0 0 10px rgb(34, 34, 34);
}

.sliding-img {
  background-color: rgba(32, 30, 30, 0.781);
  width: 100%;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
}

.sliding-img-container {
  position: relative;
  overflow: hidden;
}

.sliding-img-container img {
  width: auto;
  height: 80vh;
}

.arrow {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: rgb(192, 180, 180);
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
}

.arrow:hover,
.box:hover,
.cross:hover {
  background-color: rgb(73, 73, 73);
  color: white;
  cursor: pointer;
  box-shadow: 0 0 8px 0 white;
  opacity: 1;
}

.cross {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: gray;
  color: white;
  position: absolute;
  top: 5px;
  right: 5px;
}

.left,
.right {
  font-size: 2rem;
  position: absolute;
  top: 42%;
}
.left {
  left: -40px;
  padding-left: 30px;
}
.right {
  padding-right: 30px;
  right: -40px;
}
